@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

:root {
    --secondary-color: #D1E5F0;
    --accent-color-2: 3px solid #242424;
    --accent-color: #11700a;
    --primary-color: #6699CC;
    --font-style: tahoma;
}

.henny-penny-regular {
    font-family: "Henny Penny", system-ui;
    font-weight: 400;
    font-style: normal;
}

* {
    background-color: var(--primary-color);
}

header {
    margin: auto;
    display: grid;
    align-items: center;
    border-bottom: var(--accent-color-2);
    max-width: 100%;
    background-color: var(--primary-color);
}


.logo-box {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary-color);
}

.logo-box img {
    margin: 0 0.25rem 0 1rem;
    grid-area: 1/1/4/2;
    width: 100px;
    height: auto;
    background-color: var(--primary-color);
}

header nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    background-color: var(--primary-color);
}

.navigation {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    background-color: var(--primary-color);
}

.navigation a {
    padding: 25px;
    background-color: var(--primary-color);
}

.navigation a:hover {
    color: var(--accent-color-2);
    text-decoration: underline;
}

a {
    flex: 1 1 auto;
    display: block;
    justify-content: space-around;
    text-decoration: none;
    font-family: Tahoma, Verdana;
    background-color: var(--primary-color);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    top: .5%;
    right:25%;
    padding: 20px;
    position: absolute;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border: var(--accent-color-2);
    font-family: "Henny Penny", Luminari, cursive;
}

.hero article {
    top: 75%;
    display: block;
    position: absolute;
    background-color: var(--accent-color);
    opacity: 0.9;
}

.hero article img {
    max-width: 200px;
    height: auto;
    float: right;
}

.hero p {
    color: var(--secondary-color);
    background-color: var(--accent-color);
}

h2 {
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border: var(--accent-color-2);
    font-family: "Henny Penny", Luminary, cursive;
}

p {
    text-align: center;
    color: var(--accent-color-2);
    font-family: Tahoma, Verdana, sans-serif;
}
 
.history {
    display: grid;
    grid-template-columns: repeat(3,1);
    grid-template-rows: 100px 300px;
    background-color: var(--primary-color);
}

.history h2 {
    grid-area: 1/1/2/4;
}

.history article {
    display:grid;
    background-color: var(--primary-color);
    grid-row: 2/4;
}

.history p {
    background-color: var(--primary-color);
}

.first {
    display:grid;
    grid-area: 2/1/5/2;   
}

.history article img {
    display: grid;
    grid-area: 2/2/5/3;
}

.second {
    display: grid;
    grid-area: 2/3/5/4;
}


.images div {
    display:flex;
}

.images figure {
    max-width: 150px;
    height: auto;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: Tahoma, Verdana;
}
footer {
    background-color: var(--accent-color);
}
footer nav {
    background-color: var(--accent-color);
}
footer img {
    max-width: 25px;
    height: auto;
    float: right;
}
