@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

:root {
    --secondary-color: #D1E5F0;
    --accent-color-2: 3px solid #474C49;
    --accent-color: #417D38;
    --primary-color: #336699;
    --font-style: tahoma;
}

.henny-penny-regular {
    font-family: "Henny Penny", system-ui;
    font-weight: 400;
    font-style: normal;
}

* {
    background-color: var(--primary-color);

}

.logo-box{
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border: var(--accent-color-2);
    font-family: "Henny Penny", Luminari, cursive;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}


h2 {
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border: var(--accent-color-2);
    font-family: "Henny Penny", Luminary, cursive;
}

p {
    text-align: center;
    color: vars(--accent-color);
    font-family: Tahoma, Verdana, sans-serif;
}

.images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1px;
    flex-wrap: wrap;
}