:root{
    --color: steelblue;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, Verdana, Geneva;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: var(--color);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display:block;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
}

h1 {
    color: var(--color);
    border-bottom: 1px solid #000;
    font-family: Luminari, Calibri, "Trebuchet MS";
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    margin-left: 10px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
    
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    border: 1px solid rgb(0 0 0 / 0.2); /* 1 */
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside h2 {
    position: relative;
    top: 47px;
    left: 10px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.grid {
    display:grid;
    align-items: center;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #61D095;
    color: #000;
}